body{
    font-family: 'Space Grotesk', sans-serif;
    margin:0;
    padding: 0;
}
*,body{
    box-sizing: border-box;

}


.card{
    background-image: url("images/bg-card-front.png");
    background-size: cover;
    background-repeat: no-repeat;
    aspect-ratio: 1/0.55;
    padding: 1em 1.5em 1em;
    position: relative;
    top:115px;
    left:30px;
    z-index: 2;
    width:70%;
    border-radius: 5px;
    max-width: 270px;
    box-shadow: 1px 2px 30px 2px #343434;
}
.cardback{
    background-image: url("images/bg-card-back.png");
    background-size: cover;
    background-repeat: no-repeat;
    width:70%;
    aspect-ratio: 1/0.55;
    position: relative;
    top:-150px;
    left:110px;
    z-index: 1;
    border-radius: 5px;
    max-width: 270px;
    box-shadow: 1px 2px 30px 2px #343434; 
}
.circle{
    background-color: white;
    border-radius: 50%;
    width:30px;
    height:30px;
    position: absolute;
    top:15px;
    left:15px;
}
.circle::after{
    content: "";
    width:15px;
    height:15px;
    border:1px solid white;
    position: absolute;
    top:7px;
    left:55px;
    border-radius: 50%;
    right:50px;
}
.card-number{
    font-size: min(calc(0.48rem + 3.1vw),1.31rem);
    margin-inline: auto;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    color:white;
    padding-top: 75px;
    margin-bottom: 0.4rem;
    text-shadow: 1px 1px rgb(59, 57, 57);
}
.card-details{
    display:flex;
    justify-content: space-between;
}
.card-name{
    color:white;
    margin-top: 0;
    font-size: min(calc(0.7rem + 0.5vw),0.8rem);
    text-shadow: 1px 1px rgb(59, 57, 57);
}
.card-exp{
    margin-top: 0;
    color:white;
    font-size: min(calc(0.7rem + 0.5vw),0.8rem);
    text-shadow: 1px 1px rgb(59, 57, 57);
    
}

.card-cvc{
    position:absolute;
    color:white;
    right:28px;
    bottom: min(calc(17px + 12vw),68px);
}

.container-form{
    height:64vh;  
}
form{
    margin-inline: auto;
    margin-top: 45px;
    text-align: left;
}
input{
    width:95%;
    display: block;
    margin:0.5rem 0 1rem 0;
    border:0.01px solid rgb(211, 211, 211);
    padding: 0.55rem;
    border-radius: 8px;
    font-size: 1rem;
    margin-bottom: 0;
}
::placeholder{
    color:rgb(211, 211, 211);
}
.input{
    margin-bottom: 1rem;
}
input[name="year"],[name="month"]{
    width:42%;
    display: inline-block;
    margin-right: 0.5rem;
}
input[name=cvc]{
    width:98%;
    display: inline-block;
}

input:invalid{
    border-color: red;

}

/* @keyframes shake {
    0% {marginleft:-5px}
    25% {margin-left: 0px;}
    70%{margin-left: 5px;}
    100%{margin-left: 0px;}  
} */

input p {
    display: none;
}
.exp-field{
    width:90%;
    display: inline-block;
}
.cvc-field{
    display: inline-block;
    width:90%;
    
}
input:invalid p{
    display:block;
}

label{
    font-weight: 500;
    text-transform: uppercase;
}
label[for=cvc]{
    margin-left: 0px;
}
.cardDate{
    display:grid;
    grid-template-columns: 1fr 1fr;
}
small{
    color:red;
    font-size: 0.7rem;

}

.response{
    text-align: center;
    margin-inline: auto;
    padding-top: 7.5em;  
}
.btn-continue{
    width:170px;
}

.btn{
    background-color: hsl(278, 68%, 11%);
    width:95%;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 10px;
    font-size: 1rem;
    color:white;
    margin-top: 1.5em;
}
.attribution{
    font-size: 11px; 
    text-align: center;
    margin-inline: auto;
}
.attribution a { 
    color: hsl(228, 45%, 44%); }


@media (max-width:898px){
        .container-img{
            height:31vh;
            background-image: url("images/bg-main-mobile.png");
            background-repeat: no-repeat;
            background-size:cover;
            
        }
        .container-form{
            padding-block: 6em 20em;
        }
        form{
            width:90%;
        }
        .attribution{
            margin-top:50px;
            z-index: -1;
        }
}
@media (max-width: 898px) and (orientation:landscape) {
    .container-form{
        padding-top: 8.2em;
    }
}

@media (min-width:899px) {
    
    .content{
        width:100vw;
        height:100vh;
        display:grid;
        grid-template-columns: 1fr 1fr;
        grid-auto-flow: row;
        align-items: center;
    }
    
    .container-img{
        background-image: url("images/bg-main-desktop.png");
        background-repeat: no-repeat;
        background-size: cover;
        width:69%;
        min-height: 100vh;

    }
    .card-number{
        font-size: min(calc(0.48rem + 3.1vw),1.55rem);
        margin-inline: auto;
    }
    .container-form{
        height:100vh;
    }
    .card{
        min-width: 330px;
        left:auto;
        right:-120px;
    }
    .cardback{
        position: relative;
        top:150px;
        left:170px;
        min-width: 330px;

    }
    .btn-continue{
        width:250px;
    }
    .card-cvc{
        bottom: min(calc(17px + 12vw),82px);
        right:35px;
    }
    .container-form{
        justify-self:center;
        height: 65%;
        padding:1em 2.5em 3em 1em;
        
    }
    form{
        width:70%;
    }
}
.hidden{
    display:none;
}
